[submodule "hairdresser-module"]
	path = hairdresser-module
	url = https://github.com/ghait133/hairdresser-module.git
[submodule "sepro-appointment-service"]
	path = sepro-appointment-service
	url = https://github.com/ghait133/sepro-appointment-service.git
